doctype
html
	head
		title Leeran Setton - Developer

	body
		.header
			.header-image
				// img(src="./media/logo.jpg")
			.header-text
				p.normal-text Hey, I'm
				p.name Leeran Setton
				p.normal-text DEVELOPER
		
		.bio
			p.bio-subheading I'm a creative backend developer who also knows web developement.
			.bio-headshot
				// img(src="./media/headshot.jpg")
			p.bio-text
